standby_mode = 'on'
primary_conninfo = 'user={{ repl_user_username }} password={{ repl_user_password }} host={{ primaryNode }} port=5432 sslmode=prefer sslcompression=0 gssencmode=prefer krbsrvname=postgres target_session_attrs=any'
recovery_target_timeline = latest
